@model OnlineExam.Models.course

@{
    ViewBag.Title = "查看";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>查看</h2>

<div>
    <h4>课程</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cmajor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cmajor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.cid }) |
    @Html.ActionLink("返回", "Index")
</p>
