@model IEnumerable<OnlineExam.Models.course>

@{
    ViewBag.Title = "课程信息";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>课程信息</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cmajor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cmajor)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.cid }) |
            @Html.ActionLink("查看", "Details", new { id = item.cid }) |
            @Html.ActionLink("删除", "Delete", new { id = item.cid })
        </td>
    </tr>
}

</table>
