<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnlineExam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container" style="padding:0">
        <nav class="navbar navbar-inverse">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                @Html.ActionLink("上机考试管理系统", "Index", new { controller = "Teacher" }, new { @class = "navbar-brand text-danger font-weight-bold" })
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin:4px">
                    <ul class="nav navbar-nav">
                        <li>
                            <a style="margin:4px">@Html.ActionLink("考试信息管理", "Index", new { controller = "Teacher" }, null)</a>
                        </li>
                        <li>
                            <a style="margin:4px">@Html.ActionLink("学生管理", "Index", new { controller = "Teacher" }, null)</a>
                        </li>
                        <li>
                            <a style="margin:4px"> @Html.ActionLink("个人信息", "Index", new { controller = "Teacher" }, null)</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </nav>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>