@model IEnumerable<OnlineExam.Models.admin>

@{
    ViewBag.Title = "管理员信息";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>管理员信息</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apassword)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.aid }) |
            @Html.ActionLink("查看", "Details", new { id = item.aid }) |
            @Html.ActionLink("删除", "Delete", new { id = item.aid })
        </td>
    </tr>
}

</table>
