@model IEnumerable<OnlineExam.Models.teacher>

@{
    ViewBag.Title = "教室信息";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>教师信息</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tsex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tdepartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tsex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tdepartment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpassword)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.tid }) |
            @Html.ActionLink("查看", "Details", new { id = item.tid }) |
            @Html.ActionLink("删除", "Delete", new { id = item.tid })
        </td>
    </tr>
}

</table>
