@model OnlineExam.Models.grade

@{
    ViewBag.Title = "删除";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>删除</h2>

<h3>确定删除此项?</h3>
<div>
    <h4>成绩</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gra)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
