@model IEnumerable<OnlineExam.Models.grade>

@{
    ViewBag.Title = "成绩信息";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>成绩信息</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gra)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.gid }) |
            @Html.ActionLink("查看", "Details", new { id = item.gid }) |
            @Html.ActionLink("删除", "Delete", new { id = item.gid })
        </td>
    </tr>
}

</table>
